@{
    ViewBag.Title = "about";
}

<h2></h2>
<body bgcolor="#ffffcc">
<div>
       
        
        <img alt="" src="~/images/ProFlowersProductProgression.jpg" align="right"/>
        <h2 style="color: #6600CC; font-family: 'Kristen ITC';">&nbsp;A Fresh<br /></h2>
        <h1 style="color: #6600CC; font-family: 'Kristen ITC'; text-decoration: underline;">Connection</h1>
        <p>We have been connecting consumers with fresh-from-the-field flowers.<br />It's no wonder that Flowers has led the industry in providing a 7 day <br />freshness guarantee on each and every order. Here's why:</p>
        <h3 style="font-family: 'Times New Roman'">Flowers Fresh-From-The-Field</h3>
        <p>At each one of our farms, employees and experts nurture the flowers<br /> from bud to blossom, ensuring only the best-of-the-best get picked <br />for your bouquet.&nbsp;</p>
        <h3 style="font-family: 'Times New Roman', Times, serif">Flowers Directly To You</h3>
        <p>Once hand-picked, our flowers are delivered directly to you. Others<br /> take a longer route through brokers, middlemen and, finally, a florist's shop.<br /> By the time they reach the recipient, their best days are long gone.</p>
        <h3 style="font-family: 'Times New Roman', Times, serif">Flowers with a smile</h3>
        <p>Flowers employees have one job: to make sure you send or are sent <br />the highest quality flowers. That's why when people order Flowers, <br />they continue to come back. Never hesitate to call us if you have a problem.</p>
        </div>   
</body>