   @{
    ViewBag.Title = "Index";
}

<h2></h2>
<head>
    
</head>
<body bgcolor="#ffffcc">
    <div>
        <img src="~/Images/Gift-Flower-Basket.jpg"  align="right"/>
        
     
        <h2><i style="color: #FF00FF; font-family: 'Kristen ITC'">CONTACT US</i></h2>
        <h1>Sami Ullah</h1>
        <p>Punjab University college of Information Technology (P.U.C.I.T) Lahore</p>
        <p>+92-XXXXXXXXX</p>
        <p>bcsf11a009@pucit.edu.pk</p>
        <p>www.facebook.com/SamiUllah</p>
        @Html.ActionLink("Mail us","bcsf11a009@pucit.edu.pk")
    </div>
</body>   
















