@{
    ViewBag.Title = "Flowers";
}

<h2></h2>
<body bgcolor="#ffffcc">
    <div>
       
       
          
        
   
    <h2><i style="color: #FF00FF; font-family: 'Kristen ITC'">New Arrivals</i></h2>
   <table style="width: 100%;">
         <tr>
        <td>
          <h2 style="font-family: 'kristen ITC'; color: #6600CC">Flowers</h2>  &nbsp;
        </td>
        <td>
           <h2 style="font-family: 'kristen ITC'; color: #6600CC">Name Of The Flower</h2> &nbsp;
        </td>
        <td>
           <h2 style="font-family: 'kristen ITC'; color: #6600CC">Price In $,s</h2> &nbsp;
        </td>
    </tr>
    <tr>
        <td>
           <img  id="1" alt="" src="~/images/1..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Mom's Delight</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$24.98</h2>&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <img  id="2" alt="" src="~/images/2..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Multi-Colored Tulips for Mom</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$19.99</h2>&nbsp;
        </td>
    </tr>
    <tr>
    <td>
            <img  id="3" alt="" src="~/images/3..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Mother's Day Celebration</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$39.99</h2>&nbsp;
        </td>
    </tr>

    <tr>
    <td>
            <img  id="4" alt="" src="~/images/4..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">One Dozen Vibrant Birthday Roses</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$19.99</h2>&nbsp;
        </td>
    </tr>

    <tr>
    <td>
            <img  id="5" alt="" src="~/images/5..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">All About Mom</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$49.99</h2>&nbsp;
        </td>
    </tr>

     <tr>
    <td>
            <img  id="6" alt="" src="~/images/6..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Birthday Blossoms in Blue</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$29.99</h2>&nbsp;
        </td>
    </tr>
   
   <tr>
    <td>
            <img  id="7" alt="" src="~/images/7..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Deluxe Sunshiny Days</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$39.99</h2>&nbsp;
        </td>
    </tr>

     <tr>
    <td>
            <img  id="8" alt="" src="~/images/8..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Deluxe Birthday Frills</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$39.99</h2>&nbsp;
        </td>
    </tr>

     <tr>
    <td>
            <img  id="9" alt="" src="~/images/9..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Truly Spectacular Mom</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$29.99</h2>&nbsp;
        </td>
    </tr>

         <tr>
    <td>
            <img id="10" alt="" src="~/images/10..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2   style="font-family: 'Segoe Script'; color: #990099; ">Two Dozen Red Roses</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$29.97</h2>&nbsp;
        </td>
    </tr>

    <tr>
    <td>
            <img  id="11" alt="" src="~/images/11..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">100 Blooms of Peruvian Lilies</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$29.97</h2>&nbsp;
        </td>
    </tr>

      <tr>
    <td>
            <img id="12" alt="" src="~/images/12..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Two Dozen Long-Stemmed Butterfly Roses</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$34.97</h2>&nbsp;
        </td>
    </tr>

    <tr>
    <td>
            <img id="13" alt="" src="~/images/13..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Sunflower Radiance</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$34.99</h2>&nbsp;
        </td>
    </tr>

        <tr>
    <td>
            <img id="14" alt="" src="~/images/14..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Deluxe Hugs and Kisses</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$59.99</h2>&nbsp;
        </td>
    </tr>

    <tr>
    <td>
            <img 1alt="" src="~/images/15..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">One Dozen Long Stemmed Pink Roses</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$34.99</h2>&nbsp;
        </td>
    </tr>

    <tr>
    <td>
            <img alt="" src="~/images/16..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">A Dozen Hugs, a Dozen Kisses & 12 Gourmet Dipped Strawberries</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$59.99</h2>&nbsp;
        </td>
    </tr>

    <tr>
    <td>
            <img alt="" src="~/images/16..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">200 Blooms of Sunshine</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$39.99</h2>&nbsp;
        </td>
    </tr>

        <tr>
    <td>
            <img alt="" src="~/images/17..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">All the Frills for Mom</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$29.99</h2>&nbsp;
        </td>
    </tr>

        <tr>
    <td>
            <img alt="" src="~/images/18..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Deluxe Always & Forever</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$59.99</h2>&nbsp;
        </td>
    </tr>

    <tr>
    <td>
            <img alt="" src="~/images/19..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">100 Blooms of Sunshine for Mom</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$29.99</h2>&nbsp;
        </td>
    </tr>

    <tr>
    <td>
            <img alt="" src="~/images/20..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Birthday Grower's Choice with FREE Vase & Chocolates</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$29.99</h2>&nbsp;
        </td>
    </tr>

       <tr>
    <td>
            <img alt="" src="~/images/21..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Pink Sapphire</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$34.99</h2>&nbsp;
        </td>
    </tr>

       <tr>
    <td>
            <img alt="" src="~/images/22..jpg" height="200" width="200" />&nbsp;
        <input id="Button1" type="button" value="Home" onclick="window.location.href('@Url.Action("Index","ShowProducts")')" />
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">30 Purple Tulips</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$59.99</h2>&nbsp;
        </td>
    </tr>

     <tr>
    <td>
            <img alt="" src="~/images/23..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Birthday Smiles</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$59.99</h2>&nbsp;
        </td>
    </tr>

     <tr>
    <td>
            <img alt="" src="~/images/24..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Premium Sympathy Peace Lily</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$49.99</h2>&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <img alt="" src="~/images/25..jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Premium Sympathy Peace Lily</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">$29.99</h2>&nbsp;
        </td>
    </tr>

     </table>
    <h2>Flowers Quality - The Art of Fresher Flowers</h2>
    <p>While we offer cheap flowers, this means quality at a great value.Flowers has an 
        unbridled passion for farm fresh flower delivery… and offering flowers at very 
        competitive prices. From the time our flowers and plants are freshly plucked 
        from the soil to the time they arrive at your doorstep, office, hospital room or 
        elsewhere, our experts take great strides to ensure that you receive only the 
        freshest, most beautiful flowers possible, whether they&#39;re get well flowers, 
        thank you flowers, or birthday flowers, So what makes Flowers different? Well 
        foremost, although we’re an online florist, ProFlowers works directly with 
        professional growers to deliver the freshest flowers possible to our customers… 
        no middlemen, no retailers or third parties. This means less time between the 
        flower fields and your doorstep. And less time between when flowers are cut and 
        when you receive them only improves the quality; it also ensures you a longer 
        bloom time. Who doesn’t love to watch the beautiful blooming lifecycle of a lone 
        rose or an entire bountiful flower bouquet of wondrous beauty? In fact, that‘s 
        the second differentiating factor: the Flowers freshness promise on every flower 
        delivery we make.Flowers’ freshness guarantee on deliveries is unparalleled - we 
        promise freshness for seven days after your arrangement arrives or it will be 
        replaced! That’s how serious we are about bringing you freshness, quality and 
        value. Another factor contributing to our terminal uniqueness is our expertise 
        in your city. Yes, we’re experts in whatever city you live in, making it easy to 
        traverse the boundaries that other florist delivery services have in place. Even 
        if you think you live in the middle of nowhere, we’re quite familiar with rural 
        flower delivery and it’s unique needs; we’ll come to you anyways! So order 
        flowers online today with ProFlowers and experience for yourself successful 
        floral delievery service with personality and panache</p>
   </div>

</body>
@*<script>
    $(document).ready(function () {

        $(function () {
            $("#show").click(function () {

                location.href = '<%=Url.Action("Index","ShowProduct")%>';
            });

        });
    });
</script>*@
