@{
    ViewBag.Title = "Gifts";
}

<h2></h2>
<body bgcolor="#ffffcc">
    <div>
        
           
        <h2 style="color: #FF00FF; font-family: 'Kristen ITC';">Just Now!</h2>
        <h2 style="font-family: 'Bradley Hand ITC'; color: #0000FF">We Have The Latest Collection Of Gifts 4 You At Discountes Rates!<br /> </h2>
        <h3 style="font-family: 'kristen ITC'; color: #6600CC">You Can Call Us At Our Toll Free Number Or Mail us </h3>
        <h4 style="font-family: 'Bradley Hand ITC'; color: #0000FF">Here Are The Gifts With Their Rates And Discounts Especially 4 U</h4>
        <table style="width: 100%;">
    <tr>
        <td>
          <h2 style="font-family: 'kristen ITC'; color: #6600CC">Product</h2>  &nbsp;
        </td>
        <td>
           <h2 style="font-family: 'kristen ITC'; color: #6600CC">Price In PKR</h2> &nbsp;
        </td>
        <td>
           <h2 style="font-family: 'kristen ITC'; color: #6600CC">Discount %</h2> &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <img alt="" src="~/images/1.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.  400/</h2>&nbsp;
        </td> 
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">20%</h2>&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <img alt="" src="~/images/2.jpg" height="200" width="200" />&nbsp;
            &nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.  700/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">30%</h2>&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <img alt="" src="~/images/3.jpg" height="200" width="200" />&nbsp;
            &nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.  200/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">10%</h2>&nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <img alt="" src="~/images/4.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.  500/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">Not Available</h2>&nbsp;
        </td>
    </tr>

     <tr>
        <td>
            <img alt="" src="~/images/5.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.  900/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">5%</h2>&nbsp;
        </td>
    </tr>

     <tr>
        <td>
            <img alt="" src="~/images/6.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.  750/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">8%</h2>&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <img alt="" src="~/images/8.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Twins Only 4 Rs.  1300/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">25%</h2>&nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <img alt="" src="~/images/9.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.  300/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">Not Available</h2>&nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <img alt="" src="~/images/10.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.  350/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">3%</h2>&nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <img alt="" src="~/images/11.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Set 4 Only Rs.450/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">13%</h2>&nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <img alt="" src="~/images/12.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.150/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">Not  Avalilable</h2>&nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <img alt="" src="~/images/13.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Set 4 Only Rs.1900/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">3%</h2>&nbsp;
        </td>
    </tr>
     <tr>
        <td>
            <img alt="" src="~/images/14.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.450/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">9%</h2>&nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <img alt="" src="~/images/15.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.200/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">9%</h2>&nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <img alt="" src="~/images/16.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.1000/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">Not Available</h2>&nbsp;
        </td>
    </tr>

    <tr>
        <td>
            <img alt="" src="~/images/17.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.100/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">Not Available</h2>&nbsp;
        </td>
    </tr>
    
    <tr>
        <td>
            <img alt="" src="~/images/18.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.300/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">9%</h2>&nbsp;
        </td>
    </tr>
    
    <tr>
        <td>
            <img alt="" src="~/images/19.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.400/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">Not Available</h2>&nbsp;
        </td>
    </tr>
    
    <tr>
        <td>
            <img alt="" src="~/images/20.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.2500/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">14%</h2>&nbsp;
        </td>
    </tr>
    
    <tr>
        <td>
            <img alt="" src="~/images/21.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.250/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">No Discount</h2>&nbsp;
        </td>
    </tr>
    
    <tr>
        <td>
            <img alt="" src="~/images/22.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.450/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">9%</h2>&nbsp;
        </td>
    </tr>
    
    <tr>
        <td>
            <img alt="" src="~/images/23.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.900/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">No Discount</h2>&nbsp;
        </td>
    </tr> 

    <tr>
        <td>
            <img alt="" src="~/images/24.jpg" height="200" width="200" />&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #990099; ">Rs.2100/</h2>&nbsp;
        </td>
        <td>
            <h2 style="font-family: 'Segoe Script'; color: #FF3300; ">11%</h2>&nbsp;
        </td>
    </tr> 
</table>
     <p>*These Are Our Products...........<br />
     You Can Call Us On Our Toll Free Numbers Or Call Us<br />
     The Prices Are Fixed....No Bargainning<br />
     *Terms And Conditions Apply
     </p>
    </div>
</body>