@{
    ViewBag.Title = "Main";
}

<h2></h2>
<body>
    <div> 
        
        
        <h2 style="color: #FF0000; font-family: 'Kristen ITC';">Our Collection</h2>
        <img alt="" src="~/images/Capture.PNG" height="250" width="1342" />
    
    <h1><i style="color: #FF00FF; font-family: 'Kristen ITC'">Flowers And Gift Deals</i></h1>
    <h4><i style="color: #FF00FF; font-family: 'Kristen ITC'">Want To See Our Flowers Collection</i></h4>
    @Html.ActionLink("Click here","Flowers")
    <h4><i style="color: #FF00FF; font-family: 'Kristen ITC'">Want To See Our Gifts Collection</i></h4>
 
    @Html.ActionLink("Click here","Gifts")
   <!--<h2>Flowers<br /></h2>-->
   <!--<p>A flower, sometimes known as a bloom or blossom, is the reproductive structure found in flowering plants plants of the division Magnoliophyta, also called angiosperms.</p>-->
   <h2>List Of Different Types Of Flowers<br /></h2>
   <p> Different flowers are classified based on various common aspects such as symmetry, inflorescence, calyx, corolla, presence or absence of whorls, and pollination. Let's take a brief look about the categorization of different types of flowers.</p>
   <h3>Types of Flowers Based on Symmetry</h3><ul><li>Actinomorphic or Radially symmetrical: Flowers that can be divided into symmetrical parts along any longitudinal plane. Examples of actinomorphic or regular flowers are lily and bindweed.</li><li>Zygomorphic: Also known as bilateral or irregular type, zygomorphic flowers have a single symmetrical plane. Ocimum, salvia, and stachys are zygomorphic flowers.</li></ul>

   <h3>Types of Flowers Based on Inflorescence</h3>
   <ul><li>Racemose: The flowers are borne in an indeterminate stalk, with the basal flowers maturing before the terminal flowers. Examples of racemose inflorescence are epilobium and black cohosh.</li><li>Cymose: In cymose inflorescence type, the flowers are arranged in a determinate stalk. Thus, older flowers are borne at the growing tip, while newer flowers are developed at the base. Examples of flowers having cymose inflorescence are canna and gladiolus.</li></ul>

   <h3>Types of Flowers Based on Calyx</h3>
   <ul><li>Polysepalous: Polysepalous type include flowers having free sepals or in other words, the sepals are not fused. Examples of polysepalous flowers are rose and southern magnolia.</li><li>Gamosepalous: Flowers belonging to gamosepalous (synsepalous) type have fused or jointed sepals, either wholly or at the base only. Hibiscus and periwinkle are gamosepalous flowers.</li></ul>
    
   <h3>Types of Flowers Based on Corolla</h3>
   <ul><li>Polypetalous: Flowers having free petals are called polypetalous flowers. For example, rose and camellia are polypetalous flowers.</li><li>Gamopetalous: Flowers belonging to gamopetalous (sympetalous) type have fused or united petals. Bindweed and elderberry flowers have gamopetalous petals.</li></ul>

   <h3>Types of Flowers Based on Presence of Whorls</h3>
   <ul><li>erfect (Bisexual): Flowers consisting the essential whorls, namely, androecium and gynoecium are called perfect flowers. For example, lily and rose are perfect flowers.</li><li>Imperfect (Unisexual): Those flowers that consist of only one reproductive organ, either the male or female part are known as imperfect or incomplete flowers. Examples of imperfect flowers are those of the cucurbitaceae family.</li></ul>
   
   <h3>Types of Flowers Based on Placements of Whorls in Receptacle</h3>
   <ul><li>Hypogynous: Flowers coming under this type have petals, sepals, and stamens (androecium) arranged at the base of the ovary (gynoecium) in a convex receptacle. The flowers of tomato are hypogynous type.</li><li>Perigynous: Over here, the sepals, petals, stamens, and ovary lie in the same plane. For example, peach blossoms have perigynous flowers.</li><li>Epigynous: In this flower type, the sepals, petals, and stamens are placed above the ovary. Examples of epigynous type are apple blossoms.</li></ul>

   <h3>Types of Flowers Based on Pollination</h3>
   <ul><li>Anemophilous: Anemophilous flowers are pollinated by means of air or wind. For example, flowers of grasses.</li><li>Hydrophilous: In this type of flowers, mode of pollination is water. For example, flowers of vallisneria (eel grass) and sea grass.</li><li>Entomophilous: Flowers types which pollination occurs by insects are called entomophilous flowers. Example of entomophilous flowers are orchids.</li></ul>

   <table style="width:100%;">
        <tr>
            <td>
               <h3>Flower Picture</h3> </td>
            <td>
              <h3>Flower Name</h3>  </td>
            <td>
              <h3>Flower Meaning</h3></td>
        </tr>
        <tr>
            <td>
               <img alt="" src="~/images/abutilon.jpg" height="75"width="75" /> </td>
            <td>
                Abutilon</td>
            
            <td>
                Meditation</td>
        </tr>
        <tr>
            <td>
                <img alt="" src="~/images/acacia-pink.jpg" height="75" width="75" />
                </td>
            <td>
                Acacia (Rose, White) </td>
            <td>
               Friendship, Elegance	 </td>
               </tr>

               <tr>
            <td>
                <img alt="" src="~/images/acacia-yellow.jpg" height="75" width="75" />
                </td>
            <td>
                Acacia (Yellow)</td>
            <td>
               Concealed Love </td>
               </tr>

       <tr>
            <td>
                <img alt="" src="~/images/Acanthus.jpg" height="75" width="75" />
                </td>
            <td>
                Acanthus</td>
            <td>
               Fine Arts, Artifice </td>
               </tr>
               <tr>
            <td>
                <img alt="" src="~/images/achlillea.jpg" height="75" width="75" />
                </td>
            <td>
                Achlillea</td>
            <td>
               State of war</td>
               </tr>
                <tr>
            <td>
                <img alt="" src="~/images/Aconite.jpg" height="75" width="75" />
                </td>
            <td>
                Aconite (Monkshood)</td>
            <td>
               	Hatred, Misanthropy words, Be cautious</td>
               </tr>
               <tr>
               <td>
                <img alt="" src="~/images/Adams-Needle.jpg" height="75" width="75" />
                </td>
            <td>
                Adam's Needle</td>
            <td>
               	Best friends</td>
               </tr>
               <tr>
               <td>
                <img alt="" src="~/images/adonis.jpg" height="75" width="75" />
                </td>
            <td>
                Adonis</td>
            <td>
               		Patience, Humility, Sad memories</td>
               </tr>
               <tr>
               <td>
                <img alt="" src="~/images/alliums.jpg" height="75" width="75" />
                </td>
            <td>
                	Alliums</td>
            <td>
               		Patience, Unity, Humility</td>
               </tr>
               <tr>
               <td>
                <img alt="" src="~/images/almond-blossom.jpg" height="75" width="75" />
                </td>
            <td>
                	Almond Blossom</td>
            <td>
               		Hope, Contemplation</td>
               </tr>
                       <tr>
               <td>
                <img alt="" src="~/images/Aloe.jpg" height="75" width="75" />
                </td>
            <td>
                		Aloe</td>
            <td>
               			Sorrow, Grief</td>
               </tr>
                       <tr>
               <td>
                <img alt="" src="~/images/alstroemenia.jpg" height="75" width="75" />
                </td>
            <td>
                		Alstroemeria</td>
            <td>
               			Wealth, Devotion, Friendship</td>
               </tr>
                        <tr>
               <td>
                <img alt="" src="~/images/amaranth.jpg" height="75" width="75" />
                </td>
            <td>
                			Amaranth (Globe)</td>
            <td>
               				Immortal love</td>
               </tr>
               <tr>
               <td>
                <img alt="" src="~/images/amaryllis.jpg" height="75" width="75" />
                </td>
            <td>
                			Amaryllis</td>
            <td>
               				Splendid beauty</td>
               </tr>
               
               <tr>
               <td>
                <img alt="" src="~/images/Anemone.jpg" height="75" width="75" />
                </td>
            <td>
                				Anemone</td>
            <td>
               				Fragile,Anticipation</td>
               </tr>
                  <tr>
               <td>
                <img alt="" src="~/images/Angelica.jpg" height="75" width="75" />
                </td>
            <td>
                				Angelica	</td>
            <td>
               				Inspiration</td>
               </tr>

               <tr>
               <td>
                <img alt="" src="~/images/Anthurium.jpg" height="75" width="75" />
                </td>
            <td>
                					Anthurium	</td>
            <td>
               				Hospitality</td>
               </tr>

               <tr>
               <td>
                <img alt="" src="~/images/apple-blossom.jpg" height="75" width="75" />
                </td>
            <td>
                						Apple Blossom	</td>
            <td>
               					Hope, Good fortune</td>
               </tr>

               <tr>
               <td>
                <img alt="" src="~/images/apricot-blossom.jpg" height="75" width="75" />
                </td>
            <td>
                						Apricot Blossom	</td>
            <td>
               						Diffident love</td>
               </tr>

                  <tr>
               <td>
                <img alt="" src="~/images/arbor-vitae.jpg" height="75" width="75" />
                </td>
            <td>
                						Arbor Vitae	</td>
            <td>
               						True friendship</td>
               </tr>

                     <tr>
               <td>
                <img alt="" src="~/images/arbutus.jpg" height="75" width="75" />
                </td>
            <td>
                						Arbutus		</td>
            <td>
               							I love thee only</td>
               </tr>

                <tr>
               <td>
                <img alt="" src="~/images/Asphodel.jpg" height="75" width="75" />
                </td>
            <td>
                							Asphodel	</td>
            <td>
               							Regret, Lassitude</td>
               </tr>
                <tr>
               <td>
                <img alt="" src="~/images/Aster.jpg" height="75" width="75" />
                </td>
            <td>	Aster	</td>
            <td>
               							Love, Contentment, Patience</td>
               </tr>

                <tr>
               <td>
                <img alt="" src="~/images/Azalea.jpg" height="75" width="75" />
                </td>
            <td>		Azalea</td>
            <td>Fragile, Patience, Chinese symbol for womanhood</td>
               </tr>
    </table>
         <h3>Flowers For All Occasions</h3>
          <p>When choosing to use flowers as a way to express yourself,remember us  as your florist choice. Whether you're sending birthday flowers, graduation flowers, or looking to brighten up someone's summer day, no other florist does it like ProFlowers. Consistently delivering the freshest flowers possible and keeping our prices low, has helped us become a leader in the floral industry.<i>Want To See Our Extraordinary Classic Collection</i><br /></p>
        @Html.ActionLink("Click here","Flowers")
    </div>
</body>